@{
    ViewBag.Title = "Get in touch with us!";
}

<div class="jumbotron padded">
    <div class="container">
        <h2>@ViewBag.Title</h2>
        <hr />
        <section class="col-md-4">
            <address>
                <strong>Delivr, Inc.</strong><br>
                123 Eat St, Suite 42<br>
                Montreal, QC J5R6A3<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>

            <address>
                <strong>Business inquiries</strong><br>
                <a href="mailto:#">delivr.business@delivr.com</a>
            </address>
            <address>
                <strong>Support</strong><br>
                <a href="mailto:#">delivr.support@delivr.com</a>
            </address>
        </section>
        <section class="google-maps col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5592.88802440899!2d-73.56709450343709!3d45.501139795893046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sca!4v1432483090083" width="600" height="450" frameborder="0" style="border:0"></iframe>
        </section>
    </div>
</div>