/* Pour tout ajout de styles personnalisés,
   ne pas modifier les fichier bootstrap ni jasny */

html, body {
  height: 100%;
}

body {
  padding: 0;
  background-color: #F3C03E;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header {
    margin-bottom:0px;
}

@media (max-width: 991px) and (min-width: 768px) {
    .section {
        height: 80%;
        overflow:hidden;
    }
}

.section.index img#backfirst{
    z-index:-1;
    width:100vw;
    transform: scaleX(-1);
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */   
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

#userMenu {
    margin-top:9px;
    margin-left:5px;
}

#logo {
    padding: 0px;
}

#permFooter {
    width:100%;
    bottom:0;
    position:fixed;
}

#collapseMenu {
    margin-top:35px;
}

#navbar{
    margin-top:35px;
}

#navbar > ul {
    margin-right:0px;
}

header[role="banner"] #logo-main {
  display: block;
  margin: 20px auto;
}

#navbar-primary.navbar-default {
  background: transparent;
  border: none;
}

#navbar-primary.navbar-default .navbar-nav {
  width: 100%;
  text-align: center;
}

#navbar-primary.navbar-default .navbar-nav > li {
  display: inline-block;
  float: none;
}

#navbar-primary.navbar-default .navbar-nav > li > a {
  padding-left: 30px;
  padding-right: 30px;
}

.btn-custom>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 5px;
    left: 0;
    background-color: #000000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.btn-custom:hover>a:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* --------------------------- Section liée au logo ------------------------ */

.truck-logo {
    max-width:150px;
    height:auto;
    display:inline-block;
}

@-webkit-keyframes tilt
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes tilt
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.truck-logo:hover
{
        -webkit-animation: tilt 1s ease;
        animation: tilt 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

/* ------------------------------------------------------------------------ */

/*#header-logo {
    position:relative;
    background-color:transparent;
}

#menu-main {
    float:right;
    padding:10px 15px;
    margin:10px 0px;
}

#menu-main>ul {
    list-style:none;
    display:inline-block;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

#collapsemenu {
    float:right;
}

#collapsemenu>span {
    background-color:#000000;
}

#collapsemenu:hover>.icon-bar {
    background-color:#F9EEEE;
}

#collapsemenu:focus>.icon-bar {
    background-color:#F9EEEE;
}

#collapsemenu:hover {
    background-color:transparent;
}

#collapsemenu:focus {
    background-color:transparent;
}

.noborder {
    border:none;
}

.btn-custom {
    background-color:transparent;
    border:none;
}

.btn-custom>a {
    position:relative;
    color:#000000;
    font-weight:bold;
    text-decoration:none;
}

.btn-custom:hover {
    background-color:transparent;
}

.btn-custom>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #F9EEEE;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.btn-custom:hover>a:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}