/* Pour tout ajout de styles personnalisés,
   ne pas modifier les fichier bootstrap ni jasny */

html, body {
    height: 100%;
}

body {
    padding: 0;
    background-color: #F3C03E;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.jumbotron.padded {
    margin:15px;
    background-color:#f8f8f8;
}

.jumbotron .control-label {
    margin-top: 5px;
}

.jumbotron .form-input {
    margin-bottom:5px;
}

.margin-top {
    margin-top:15px;
}

#menu-group {
    margin-right:5px;
}

@media (max-width: 768px) {
    .google-maps {
        position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden;
    }

    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}

.editor-rows {
    display: table;
}

.editor-row {
    display: table-row;
}

.row-editor-label .row-editor-field {
    display: table-cell;
}

/* ---------------------  Section concernant le header/navbar ------------------------------ */

#header {
    margin-bottom: 0px;
}

/*@media (max-width: 991px) and (min-width: 768px) {
    .section {
        height: 80%;
        overflow:hidden;
        text-align:center;
    }
}*/

#userMenu {
    margin-top: 9px;
    margin-left: 5px;
    text-align:center;
}

#userMenu li {
    text-align:center;
}

#logout a {
    color:#333333;
}

#logout:hover {
    background-color: #f5f5f5;
}

#logout:hover a {
    color: #262626;
    text-decoration: none;
}

#collapseMenu {
    margin-top: 35px;
}

#navbar {
    margin-top: 35px;
}

    #navbar > ul {
        margin-right: 0px;
    }

#navbar-primary.navbar-default {
    background: transparent;
    border: none;
}

    #navbar-primary.navbar-default .navbar-nav {
        width: 100%;
        text-align: center;
    }

        #navbar-primary.navbar-default .navbar-nav > li {
            display: inline-block;
            float: none;
        }

            #navbar-primary.navbar-default .navbar-nav > li > a {
                padding-left: 30px;
                padding-right: 30px;
            }

.btn-custom > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 5px;
    left: 0;
    background-color: #000000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.btn-custom:hover > a:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
/* ---------------------------------------------------------------------------- */

/* -----------------------------Footer (si besoin est) -----------------------*/

#permFooter {
    width: 100%;
    bottom: 0;
    position: fixed;
}

/* ---------------------------------------------------------------------------*/

/* --------------------------- Section liée au logo ------------------------ */

.truck-logo {
    max-width: 150px;
    height: auto;
    display: inline-block;
}

#logo {
    padding: 0px;
}

header[role="banner"] #logo-main {
    display: block;
    margin: 20px auto;
}

@-webkit-keyframes tilt {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes tilt {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.truck-logo:hover {
    -webkit-animation: tilt 1s ease;
    animation: tilt 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/* -------------------------------------------------------------------------------- */

/* -----------------------------Section liée aux <section> -------------------------- */

section.page1 {
    position: absolute;
    left: 0px;
    top: 100%;
    background: #F4D03F;
}

section.page2 {
    background-color: #2ECC71;
}

section.page3 {
    text-align: center;
    background-color: #52B3D9;
}

section.page3 small {
    color: #FFFFFF;
}

.floating-label-right {
    float: right;
}

.floating-label-left {
    float: left;
}

section .floating-label-left, section .floating-label-right {
    top: -30vw;
}

section.page4 #signupBtn {
    margin-top:20px;
}

section.page4 #signupBtn a {
    text-decoration:none;
    color:#FFFFFF;
}

/* ----------------------------- Pour très grandes dimensions -------------------------- */

@media (min-width: 1500px) {
    #burger {
        width: 60vw;
        position: relative;
        top: 1vw;
        left: -20vw;
        z-index: 99;
    }

    #clock {
        width: 50vw;
        position: relative;
        top: 1vw;
        right: -26vw;
        z-index: 99;
    }

    #signup {
        width: 50vw;
        position: relative;
        top: 1vw;
        z-index: 99;
    }

    section.page1 .floating-label-left {
        left: 5vw;
    }

    section.page2 .floating-label-left {
        top: 15vw;
        left: 10vw;
    }

    section.page4 .floating-label-right {
        top: 15vw;
    }
}

/* ----------------------------- Pour grandes dimensions -------------------------- */

@media (min-width: 991px) and (max-width: 1500px) {
    #burger {
        width: 75vw;
        position: relative;
        top: 5vw;
        left: -35vw;
        z-index: 99;
    }

    #clock {
        width: 50vw;
        position: relative;
        top: 5vw;
        right: -27vw;
        z-index: 99;
    }

    #signup {
        width: 60vw;
        position: relative;
        bottom: -10vw;
        z-index: 99;
    }

    section.page2 .floating-label-left {
        top: 20vw;
        left: 10vw;
    }
}

/* ----------------------------- Pour moyennes dimensions -------------------------- */

@media (max-width: 991px) and (min-width: 768px) {
    #burger {
        width: 80vw;
        position: relative;
        top: 10vw;
        left: -35vw;
        z-index: 99;
    }

    #clock {
        width: 60vw;
        position: relative;
        top: 5vw;
        right: -25vw;
        z-index: 99;
    }

    #signup {
        width: 75vw;
        position: relative;
        bottom: -15vw;
        right: 10vw;
        z-index: 99;
    }

    section.page2 .floating-label-left {
        top: 25vw;
        left: 10vw;
    }

    section.page4 .floating-label-right {
        top: -40vw;
    }

    section.page4 div {
        z-index:100;
    }
}

/* ----------------------------- Pour petites dimensions -------------------------- */

@media (max-width: 768px) {
    #burger {
        width: 70vw;
        position: relative;
        top: 10vw;
        left: -25vw;
        z-index: 99;
    }

    #clock {
        width: 55vw;
        position: relative;
        top: 10vw;
        right: -15vw;
        z-index: 99;
    }

    #signup {
        width: 75vw;
        position: relative;
        bottom: -20vw;
        right: 10vw;
        z-index: 99;
    }

    section.page2 .floating-label-left {
        top: 20vw;
        left: 10vw;
        font-size: 22px;
    }

    section.page4 .floating-label-right {
        top: -40vw;
    }
}

/* ----------------------------- Pour très petites dimensions -------------------------- */

@media (max-width: 450px) {
    #burger {
        width: 80vw;
        position: relative;
        top: 30vw;
        left: -30vw;
        z-index: 99;
    }

    #clock {
        width: 58vw;
        position: relative;
        top: 30vw;
        right: -15vw;
        z-index: 99;
    }

    #signup {
        width: 75vw;
        position: relative;
        bottom: -20vw;
        right: 10vw;
        z-index: 99;
    }

    section.page2 .floating-label-left {
        top: 20vw;
        left: 10vw;
        font-size: 20px;
    }
}

/* -----------------------------------------------------------------------------------*/
/* ---------------------------- Payment method section -------------------------------*/
.how {
    top: 150px;
    font-weight: bold;
    font-size: 18px;
}

#search {
    margin-top: 24px;
    width: 95%;
}

#add {
    margin-top: 27px;
    width: 87%;
}

#pay {
    margin-top: 10px;
    width: 85%;
}

#paymentMethods .row {
    text-align: center;
}

#paymentMethods table td {
    border: none;
}

#paymentMethods img {
    max-width: 75px;
    max-height: 43px;
}

#atDoor {
    margin-bottom: 30px;
}
/* ------------------------------------------------------------------------------------ */