@model Delivr.Models.Restaurant

@{
    ViewBag.Title = "Delete";
}
<div class="jumbotron padded">
    <div class="container">
        <h2>@ViewBag.Title</h2>
        <hr />
        <h3>Are you sure you want to delete @Html.DisplayFor(model => model.nom)?</h3>
    </div>
    <div class="container">
        <hr />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="btn-group btn-group-lg" role="group" aria-label="controls">
                <div class="btn-group btn-group-lg" role="group">
                    @(Html.ActionLink("Back to listing", "Index", null, new { @class = "btn btn-default" }))
                </div>
                <div class="btn-group btn-group-lg" role="group">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            </div>
        }
    </div>
</div>