@{
    ViewBag.Title = "Menu introuvable";
    ViewBag.Message = "Il semble que ce restaurant n'ai actuellement pas de menu";
}

<div class="jumbotron padded">
    <div class="container">
        <h2>@ViewBag.Title</h2>
        <p>@ViewBag.Message</p>
    </div>
</div>
