@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron padded">
    <div class="container">
        <h2>@Html.Raw(ViewBag.Chaine)</h2>
    </div>
    <div class="container">
        <hr />
        <a class="btn btn-default" href="/Restaurant/Liste">Retour à l'accueil</a>
    </div>
</div>
